/*.log
/.clover
/annotations.doc
annotations/target
/bin
/build
examples/target
/ext-package
framework/*.log
framework/bin
framework/target
hivebuild/target
jmx/*.log
jmx/bin
jmx/target
library/*.log
library/bin
library/target
/target
tools/forrest/target
/velocity.log*
xml/target
