* text=auto !eol
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.jdt.ui.prefs -text
annotations/pom.xml -text
annotations/src/java/org/apache/hivemind/annotations/AbstractAnnotatedModule.java -text
annotations/src/java/org/apache/hivemind/annotations/AnnotatedModuleReader.java -text
annotations/src/java/org/apache/hivemind/annotations/AnnotatedRegistryBuilder.java -text
annotations/src/java/org/apache/hivemind/annotations/AnnotationsExtensionProvider.java -text
annotations/src/java/org/apache/hivemind/annotations/AnnotationsMessages.java -text
annotations/src/java/org/apache/hivemind/annotations/AnnotationsStrings.properties -text
annotations/src/java/org/apache/hivemind/annotations/TypedRegistry.java -text
annotations/src/java/org/apache/hivemind/annotations/definition/Configuration.java -text
annotations/src/java/org/apache/hivemind/annotations/definition/Contribution.java -text
annotations/src/java/org/apache/hivemind/annotations/definition/Implementation.java -text
annotations/src/java/org/apache/hivemind/annotations/definition/Module.java -text
annotations/src/java/org/apache/hivemind/annotations/definition/Service.java -text
annotations/src/java/org/apache/hivemind/annotations/definition/Submodule.java -text
annotations/src/java/org/apache/hivemind/annotations/definition/impl/AnnotatedModuleDefinitionImpl.java -text
annotations/src/java/org/apache/hivemind/annotations/definition/processors/AnnotationProcessingContext.java -text
annotations/src/java/org/apache/hivemind/annotations/definition/processors/AnnotationProcessor.java -text
annotations/src/java/org/apache/hivemind/annotations/definition/processors/ConfigurationProcessor.java -text
annotations/src/java/org/apache/hivemind/annotations/definition/processors/ContributionProcessor.java -text
annotations/src/java/org/apache/hivemind/annotations/definition/processors/ImplementationProcessor.java -text
annotations/src/java/org/apache/hivemind/annotations/definition/processors/ServiceProcessor.java -text
annotations/src/java/org/apache/hivemind/annotations/definition/processors/SubmoduleProcessor.java -text
annotations/src/java/org/apache/hivemind/annotations/internal/AnnotatedModuleLocation.java -text
annotations/src/java/org/apache/hivemind/annotations/internal/AnnotatedModuleProcessor.java -text
annotations/src/java/org/apache/hivemind/annotations/internal/AnnotationProcessingContextImpl.java -text
annotations/src/java/org/apache/hivemind/annotations/internal/AnnotationProcessorFactory.java -text
annotations/src/java/org/apache/hivemind/annotations/internal/AnnotationProcessorRegistry.java -text
annotations/src/java/org/apache/hivemind/annotations/internal/AnnotationProcessorRegistryFactory.java -text
annotations/src/java/org/apache/hivemind/annotations/internal/AnnotationsExtensionLoader.java -text
annotations/src/java/org/apache/hivemind/annotations/internal/CheckTools.java -text
annotations/src/java/org/apache/hivemind/annotations/internal/MethodCallContributionConstructor.java -text
annotations/src/java/org/apache/hivemind/annotations/internal/MethodCallImplementationConstructor.java -text
annotations/src/java/org/apache/hivemind/annotations/internal/ModuleInstanceProvider.java -text
annotations/src/java/org/apache/hivemind/annotations/internal/ModuleInstanceProviderImpl.java -text
annotations/src/java/org/apache/hivemind/annotations/internal/TypedRegistryImpl.java -text
annotations/src/site/site.xml -text
annotations/src/site/xdoc/index.xml -text
annotations/src/test/org/apache/hivemind/annotations/AbstractModule.java -text
annotations/src/test/org/apache/hivemind/annotations/AnnotationTestCase.java -text
annotations/src/test/org/apache/hivemind/annotations/AutowiringModule.java -text
annotations/src/test/org/apache/hivemind/annotations/FinalModule.java -text
annotations/src/test/org/apache/hivemind/annotations/ModuleWithExplicitId.java -text
annotations/src/test/org/apache/hivemind/annotations/NotPublicModule.java -text
annotations/src/test/org/apache/hivemind/annotations/OverrideServiceModule.java -text
annotations/src/test/org/apache/hivemind/annotations/SimpleAnnotatedModule.java -text
annotations/src/test/org/apache/hivemind/annotations/Submodule1.java -text
annotations/src/test/org/apache/hivemind/annotations/Supermodule.java -text
annotations/src/test/org/apache/hivemind/annotations/TestAnnotatedModuleReader.java -text
annotations/src/test/org/apache/hivemind/annotations/TestAnnotatedModules.java -text
annotations/src/test/org/apache/hivemind/annotations/definition/processors/MappedClassLoader.java -text
annotations/src/test/org/apache/hivemind/annotations/definition/processors/TestCustomProcessor.java -text
annotations/src/test/org/apache/hivemind/annotations/definition/processors/custom-manifest.mf -text
/doap_Hivemind.rdf -text
examples/pom.xml -text
examples/src/descriptor/META-INF/hivemodule.xml -text
examples/src/documentation/content/xdocs/hivemind-examples/setters.xml -text
examples/src/java/org/apache/examples/annotations/calculator/CalculatorMain.java -text
examples/src/java/org/apache/examples/annotations/calculator/CalculatorModule.java -text
examples/src/java/org/apache/examples/annotations/panorama/PanoramaDiscussionsModule.java -text
examples/src/java/org/apache/examples/annotations/panorama/PanoramaMailModule.java -text
examples/src/java/org/apache/examples/annotations/panorama/PanoramaMain.java -text
examples/src/java/org/apache/examples/annotations/panorama/PanoramaModule.java -text
examples/src/java/org/apache/examples/annotations/panorama/PanoramaStartupModule.java -text
examples/src/java/org/apache/examples/annotations/panorama/panorama.properties -text
examples/src/java/org/apache/examples/definition/JavaDefinitionExample.java -text
examples/src/java/org/apache/examples/panorama/discussions/DiscussionsStartup.java -text
examples/src/java/org/apache/examples/panorama/mail/MailStartup.java -text
examples/src/java/org/apache/examples/panorama/startup/Executable.java -text
examples/src/java/org/apache/examples/panorama/startup/PanoramaMain.java -text
examples/src/java/org/apache/examples/panorama/startup/impl/ExecuteStatic.java -text
examples/src/java/org/apache/examples/panorama/startup/impl/Task.java -text
examples/src/java/org/apache/examples/panorama/startup/impl/TaskExecutor.java -text
examples/src/java/org/apache/examples/setters/SetterService.java -text
examples/src/java/org/apache/examples/setters/setters.xml -text
examples/src/java/org/apache/examples/setters/textResource.properties -text
examples/src/test/org/apache/examples/setters/TestSetters.java -text
framework/pom.xml -text
framework/src/documentation/content/links.ent -text
framework/src/java/org/apache/hivemind/definition/ConfigurationParser.java -text
framework/src/java/org/apache/hivemind/definition/ConfigurationParserConstructor.java -text
framework/src/java/org/apache/hivemind/definition/ConfigurationParserDefinition.java -text
framework/src/java/org/apache/hivemind/definition/ConfigurationPointDefinition.java -text
framework/src/java/org/apache/hivemind/definition/ConstructionContext.java -text
framework/src/java/org/apache/hivemind/definition/ContributionContext.java -text
framework/src/java/org/apache/hivemind/definition/ContributionDefinition.java -text
framework/src/java/org/apache/hivemind/definition/DefinitionMessages.java -text
framework/src/java/org/apache/hivemind/definition/DefinitionStrings.properties -text
framework/src/java/org/apache/hivemind/definition/ExtensionDefinition.java -text
framework/src/java/org/apache/hivemind/definition/ExtensionPointDefinition.java -text
framework/src/java/org/apache/hivemind/definition/ImplementationConstructionContext.java -text
framework/src/java/org/apache/hivemind/definition/ImplementationDefinition.java -text
framework/src/java/org/apache/hivemind/definition/InterceptorConstructor.java -text
framework/src/java/org/apache/hivemind/definition/InterceptorDefinition.java -text
framework/src/java/org/apache/hivemind/definition/ModuleDefinition.java -text
framework/src/java/org/apache/hivemind/definition/RegistryDefinition.java -text
framework/src/java/org/apache/hivemind/definition/RegistryDefinitionPostProcessor.java -text
framework/src/java/org/apache/hivemind/definition/ServicePointDefinition.java -text
framework/src/java/org/apache/hivemind/definition/UnresolvedExtension.java -text
framework/src/java/org/apache/hivemind/definition/impl/ConfigurationParserDefinitionImpl.java -text
framework/src/java/org/apache/hivemind/definition/impl/ConfigurationPointDefinitionImpl.java -text
framework/src/java/org/apache/hivemind/definition/impl/ContributionDefinitionImpl.java -text
framework/src/java/org/apache/hivemind/definition/impl/ExtensionDefinitionImpl.java -text
framework/src/java/org/apache/hivemind/definition/impl/ExtensionPointDefinitionImpl.java -text
framework/src/java/org/apache/hivemind/definition/impl/ImplementationDefinitionImpl.java -text
framework/src/java/org/apache/hivemind/definition/impl/InterceptorDefinitionImpl.java -text
framework/src/java/org/apache/hivemind/definition/impl/ModuleDefinitionHelper.java -text
framework/src/java/org/apache/hivemind/definition/impl/ModuleDefinitionImpl.java -text
framework/src/java/org/apache/hivemind/definition/impl/OrderedInterceptorDefinitionImpl.java -text
framework/src/java/org/apache/hivemind/definition/impl/RegistryDefinitionImpl.java -text
framework/src/java/org/apache/hivemind/definition/impl/ServicePointDefinitionImpl.java -text
framework/src/java/org/apache/hivemind/definition/impl/package.html -text
framework/src/java/org/apache/hivemind/definition/package.html -text
framework/src/java/org/apache/hivemind/events/RegistryInitializationListener.java -text
framework/src/java/org/apache/hivemind/impl/CoreServicesProvider.java -text
framework/src/java/org/apache/hivemind/impl/ExtensionResolver.java -text
framework/src/java/org/apache/hivemind/impl/ManifestReader.java -text
framework/src/java/org/apache/hivemind/impl/RegistryProvider.java -text
framework/src/java/org/apache/hivemind/impl/RegistryProviderAutoDetector.java -text
framework/src/java/org/apache/hivemind/internal/AbstractConstructionContext.java -text
framework/src/java/org/apache/hivemind/internal/AbstractServiceImplementationConstructor.java -text
framework/src/java/org/apache/hivemind/internal/AbstractServiceInterceptorConstructor.java -text
framework/src/java/org/apache/hivemind/internal/ImplementationConstructionContextImpl.java -text
framework/src/java/org/apache/hivemind/service/Autowiring.java -text
framework/src/java/org/apache/hivemind/service/AutowiringStrategy.java -text
framework/src/java/org/apache/hivemind/service/impl/AutowiringByTypeStrategy.java -text
framework/src/java/org/apache/hivemind/service/impl/AutowiringImpl.java -text
framework/src/java/org/apache/hivemind/service/impl/AutowiringStrategyContribution.java -text
framework/src/java/org/apache/hivemind/util/UniqueHashMap.java -text
framework/src/site/site.xml -text
framework/src/site/xdoc/ApplicationDefaults.xml -text
framework/src/site/xdoc/BuilderFactory.xml -text
framework/src/site/xdoc/EagerLoad.xml -text
framework/src/site/xdoc/FactoryDefaults.xml -text
framework/src/site/xdoc/LoggingInterceptor.xml -text
framework/src/site/xdoc/ObjectProviders.xml -text
framework/src/site/xdoc/ServiceModels.xml -text
framework/src/site/xdoc/ShutdownCoordinator.xml -text
framework/src/site/xdoc/SymbolSources.xml -text
framework/src/site/xdoc/ThreadLocalStorage.xml -text
framework/src/site/xdoc/ThreadLocale.xml -text
framework/src/site/xdoc/Translators.xml -text
framework/src/site/xdoc/index.xml -text
framework/src/test/hivemind/test/services/SimpleModule.java -text
framework/src/test/hivemind/test/services/StringHolderModule.java -text
framework/src/test/org/apache/hivemind/TestToString.java -text
framework/src/test/org/apache/hivemind/impl/MessageFormatterTarget.java -text
framework/src/test/org/apache/hivemind/impl/TestInterceptors.java -text
framework/src/test/org/apache/hivemind/service/impl/SkippedPropertiesAutowireTarget.java -text
framework/src/test/org/apache/hivemind/service/impl/TestAutowiring.java -text
framework/src/test/org/apache/hivemind/util/empty_fr -text
framework/src/test/org/apache/hivemind/util/home.png -text
framework/src/test/org/apache/hivemind/util/home_fr.png -text
framework/src/test/test-data/TestConstructRegistry/empty.jar -text
framework/src/test/test-data/TestConstructRegistry/module.jar -text
framework/src/test/test-data/TestConstructRegistry/testBasic.xml.master -text svneol=unset#application/octet-stream
framework/src/test/test-data/TestConstructRegistry/testJars.xml.master -text svneol=unset#application/octet-stream
framework/src/test/test-data/TestConstructRegistry/testLocalRefs.xml.master -text svneol=unset#application/octet-stream
framework/src/test/test-data/TestConstructRegistry/testUptoDate.xml.master -text svneol=unset#application/octet-stream
framework/src/test/test-data/TestRegistryBuilder.jar -text
hivebuild/hivedoc-xsl/private.png -text
hivebuild/hivedoc-xsl/public.png -text
jmx/pom.xml -text
jmx/src/java/org/apache/hivemind/management/log4j/LoggerMBean.java -text
jmx/src/site/site.xml -text
jmx/src/test/org/apache/hivemind/management/MBeanNonInterfaceTestService.java -text
library/pom.xml -text
library/src/site/site.xml -text
library/src/site/xdoc/index.xml -text
/pom.xml -text
src/documentation/content/HiveMind-QuickReference.doc -text
src/documentation/content/xdocs/subversion.xml -text
src/documentation/resources/images/Bootstrap-ProjectLayout.png -text
src/documentation/resources/images/FrameworkStack.png -text
src/documentation/resources/images/HiveMind-Logo.png -text
src/documentation/resources/images/InterceptorStack.png -text
src/documentation/resources/images/jakarta-logo.gif -text
src/images/HiveMind-Logo.psp -text
src/images/HiveMindImages.vsd -text
src/images/InterceptorStack.psp -text
src/images/private-icon.psp -text
src/main/assembly/bin.xml -text
src/main/assembly/src.xml -text
src/site/site.xml -text
src/site/xdoc/index.xml -text
xml/pom.xml -text
xml/src/descriptor/META-INF/MANIFEST.MF -text
xml/src/descriptor/META-INF/test-jar-dummy/MANIFEST.MF -text
xml/src/java/org/apache/hivemind/SymbolExpander.java -text
xml/src/java/org/apache/hivemind/TranslatorManager.java -text
xml/src/java/org/apache/hivemind/impl/HivemoduleProvider.java -text
xml/src/java/org/apache/hivemind/impl/InvokeFactoryInterceptorConstructor.java -text
xml/src/java/org/apache/hivemind/impl/SchemaAssignment.java -text
xml/src/java/org/apache/hivemind/impl/TranslatorManagerImpl.java -text
xml/src/java/org/apache/hivemind/impl/XmlCoreServicesProvider.java -text
xml/src/java/org/apache/hivemind/impl/XmlExtensionResolver.java -text
xml/src/java/org/apache/hivemind/impl/XmlImplMessages.java -text
xml/src/java/org/apache/hivemind/impl/XmlImplStrings.properties -text
xml/src/java/org/apache/hivemind/impl/XmlModuleDescriptorProcessor.java -text
xml/src/java/org/apache/hivemind/impl/XmlModuleReader.java -text
xml/src/java/org/apache/hivemind/parse/SchemaAssignmentDescriptor.java -text
xml/src/java/org/apache/hivemind/schema/rules/AddToMapRule.java -text
xml/src/java/org/apache/hivemind/service/impl/LoggingInterceptorFactory.java -text
xml/src/java/org/apache/hivemind/servlet/HiveMindFilter.java -text
xml/src/java/org/apache/hivemind/xml/definition/impl/HiveMindSchemaParser.java -text
xml/src/java/org/apache/hivemind/xml/definition/impl/HiveMindSchemaParserConstructor.java -text
xml/src/java/org/apache/hivemind/xml/definition/impl/XmlModuleDefinitionImpl.java -text
xml/src/java/org/apache/hivemind/xml/definition/impl/XmlServicePointDefinitionImpl.java -text
xml/src/site/site.xml -text
xml/src/site/xdoc/index.xml -text
xml/src/test/hivemind/test/config/Null.xml -text
xml/src/test/hivemind/test/rules/TestReadAttributeRule.java -text
xml/src/test/hivemind/test/rules/TestServiceTranslator.java -text
xml/src/test/org/apache/hivemind/impl/TestXmlModuleDescriptorProcessor.java -text
xml/src/test/org/apache/hivemind/service/BeanService.xml -text
xml/src/test/org/apache/hivemind/service/TestBuilderFactoryBeanService.java -text
xml/src/test/org/apache/hivemind/service/TestBuilderFactoryServiceModel.java -text
xml/src/test/org/apache/hivemind/service/TestEventLinker.java -text
xml/src/test/org/apache/hivemind/servlet/TestHiveMindFilter.java -text
xml/src/test/org/apache/hivemind/xml/OverrideService.xml -text
xml/src/test/org/apache/hivemind/xml/XmlTestCase.java -text
